<div class="row">
    <div class="archivements">
      <h1>Proyectos realizados</h1>
      <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h2>Investigación - Vicia como cultivo de cobertura</h2>
          <p>Evaluación de diferentes variables de manejo previas al cultivo de maíz tardío (<i>Zea mays</i>) que incluyen el uso de <i>Vicia villosa</i> como cultivo de servicio.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
          <a href="https://www.github.com/ivanvk86" target="_blank" rel="noreferrer nooponer"></a>
          <img src="../../../assets/images/logoGithub.png" class="img-fluid img-proyecto" alt="GitHbIvan">
        </div>
      </div>
      
    </div>
  
  </div>
