<div class="card" id="first-card">
  <div id="profile-background"><img src="https://s1.1zoom.me/big3/873/370731-svetik.jpg"></div>
</div>

<!--
        <div class="d-flex col-md-8 col-sm-8 justify-content-center text-center">
          <p class="fw-bold ms-3 mt-3">PROYECTO FINAL #YoProgramo</p>
    
        </div>  
  
    ESPACIO PARA UN BOTÓN 
      <div class="d-flex col-md-6 col-sm-6 justify-content-center mb-2">
      <div *ngIf="portafolioActive === false ">
        <div class="d-flex justify-content-around   col-md-12 col-sm-12   ">
          <div class="col-12 text-center ">
            <button class=" btn btn-info btn-md w-100 text-white fw-bold shadow-lg "
            routerLink="/login"
            >MODO EDICIÓN</button>
          </div>
      
  
        
          <div class="col-8 text-center ">
            <button class="btn btn-info border border-info btn-md w-100 text-white fw-bold fw-bold shadow-lg ms-3"
                routerLink="/register"
            >CREAR CUENTA</button>
          </div>
        
  
  
        </div>
      </div>
  
      <div *ngIf="portafolioActive === true ">
        <div class="d-flex justify-content-around   col-md-12 w-100 col-sm-12 mt-1 mb-2">
          <div class="col-6 w-100 text-center">
            <button class=" btn btn-dark rounded  btn-md w-100 text-white fw-bold shadow-lg "
             (click)="logout($event)"
            >TERMINAR EDICIÓN</button>
          </div>
        </div>
      </div>
    </div>
  
  
      </div>

    -->