<div class="card first-card">
    <div id="experience">
      <div class="card-titles">
        <h3>Experiencia</h3>
        <div class="btn-edit">
          <a href="#" class="btn-right"><i class="fas fa-pen"></i></a>
        </div>
      </div>
      <div>
        <ul class="items-list">
          <li>
            <div class="data-container">
              <a href="#">
                <div class="logo-image-conatiner">
                    <img class="logo-image"
                        src=""/>
                </div>
                <div class="list-info">
                    <h3>Asesor técnico</h3>
                    <p>FCA - <span>Jornada completa</span></p>
                    <h4>nov 2018 - actualidad</h4>
                    <h4>Zavallla, Santa Fe</h4>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
  
    </div>
    <div id="education">
        <div class="card-titles">
            <h3>Educación</h3>
            <div class="btn-edit">
              <a href="#" class="btn-right"><i class="fas fa-pen"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list">
              <li>
                <div class="data-container">
                  <a href="#">
                    <div class="logo-image-conatiner">
                        <img class="logo-image"
                            src=""/>
                    </div>
                    <div class="list-info">
                        <h3>UNR</h3>
                        <p>Ingeniería, Ciencias Agrarias</p>
                    </div>
                  </a>
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
              </li>
            </ul>
          </div>
    </div>
  </div>
