<div class="card" id="first-card">
  <div id="profile-background"><img src="https://s1.1zoom.me/big3/873/370731-svetik.jpg"></div>
  <div id="info" style="padding:16px">
    <div id="info-img">
      <img class="profile-image" src="foto_perfil_1.jpg" alt="profile_pic">
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fas fa-pen"></i></a></div>                                         
    </div>
    <div id="info-data">
      <div>
        <h2>Ivan</h2>
        <div id="info-contact">
          <span>Rosario, Argentina</span>
          <span><a href="#">Información de contacto</a></span>
        </div>
        <ul id="info-details">
          <li><a href="#"></a>
            <img src="">
            <h4>FCA</h4></li>
          <li><a href="#"></a>
            <img src="">
            <h4>FCA</h4></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="info-actions">
    <button type="button" class="btn btn-primary">Tengo interés en</button>
    <button type="button" class="btn btn-light">Añadir sección</button>
  </div>
</div>
